*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{

    overflow-x: hidden;
}

/* Header com logo e topicos */

.header-nav {
    background-color: rgb(249, 225, 208);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15rem;
    height: 15vh;
    font-weight: 700;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0;
    z-index: 1000; 
}



.logo{
    width: 5rem;
}

.ul-header{
    display: flex;
    gap: 5rem;
    list-style: none;
}

.li-header{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    font-size: 1.2rem;
}

.li-header a{
    text-decoration: none;
    color: inherit;
}

#area-aluno-header{
    width: 13vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px;
    border-radius: 5%;
}

.li-header:hover {
    transition: 0.5s;
    color: rgb(236, 99, 8);
}


/* Home com vídeo e texto de introdução*/

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
}

#home-video{
    width: 100%;
    height: auto;
}

.video-content {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    margin-top: 2rem;
    font-family: arial;
}

#home-text{
    margin-bottom: 20rem;
    margin-left: 12rem;
    font-size: 2.5rem;
    color: #ffff;
}

#home-text, #home-text-p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Conheça com imagem da universidade e apresentação */

.conheca{
    height: 100vh;
}

#quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #040404;
    border-bottom: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.img-text-container{
    display: flex;
    justify-content: space-evenly;
}

.uniev-front-img{
    margin-top: 2rem;
    margin-left: 3rem;
    width: 40vw;
    height: 68vh;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(1, 0, 0, 2);
}

.text-container{
    width: 45vw;
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: solid 1px;
    border-radius: 5%;
}

#story-text{
    width: 40vw;
    color: #080808;
    font-size: 1.3rem;
}

/* Áreas com os cursos e pesquisas */

.areas{
    height: 100vh; 
}

#conheca-areas{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 50%;
    color: #040404;
    border-bottom: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.slider{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 92.5vh;
    margin-top: 2rem;
}

.text-container-area{
    width: 50vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: solid 1px;
    border-radius: 5%;
}

.area-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.91rem;
    width: 95%;
    height: 95%;
}

#text-p{
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffff;
}

.area-li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    width: 100%;
}

.slides{
    width: 39.45%;
    height: 61vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 1, 1);
    border-radius: 5%;
}

.slides input{
    display: none;
}


.slide{
    width: 600px;
}

.slider img{
    width: 600px;
    height: 60vh;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 1, 1);
    
}


.manual-navigation{
    position: absolute;
    width: 100vw;
    margin-top: 26.23rem;
    margin-left: 51.1rem;
    display: flex;
    justify-content: center;
}

#manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

#manual-btn:not(:last-child){
    margin-right: 40px;
}

#manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200.2%;
}

#radio4:checked ~ .first{
    margin-left: -300.5%;
}

#radio5:checked ~ .first{
    margin-left: -400.5%;
}

#radio6:checked ~ .first{
    margin-left: -500.5%;
}

#radio7:checked ~ .first{
    margin-left: -600.5%;
}

#radio8:checked ~ .first{
    margin-left: -700.8%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
}

.navigation-auto{
    position: absolute;
    width: 39vw;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto #auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto #auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto #auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto #auto-btn4{
    background-color: #FFF;
}
#radio5:checked ~ .navigation-auto #auto-btn5{
    background-color: #FFF;
}
#radio5:checked ~ .navigation-auto #auto-btn5{
    background-color: #FFF;
}
#radio6:checked ~ .navigation-auto #auto-btn6{
    background-color: #FFF;
}
#radio7:checked ~ .navigation-auto #auto-btn7{
    background-color: #FFF;
}
#radio8:checked ~ .navigation-auto #auto-btn8{
    background-color: #FFF;
}




/* Representantes do corpo docente */

.ensino{
    height: 100vh;
}

.coordenacao{
    margin-top: 4rem;
}


.coordenadores-linha1{
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}

.coordenadores-linha2{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}

.coordenadores-linha1 p, .coordenadores-linha2 p{
    display: flex;
    align-items: center;
    height: 15vh;
    width: 10vw;
    font-size: 1rem;
    font-weight: 800;
}

.coordenadores-linha1 a, .coordenadores-linha2 a{
    text-decoration: none;
    color: inherit;
}

#coordenador-p:hover{
    transition: 0.5s;
    color: rgb(236, 99, 8);
    cursor: pointer;
}


/* Contato de feedback */

.contato{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-fieldset{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

#contato-title{
    font-size: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 1.3rem;
}

#form-submit{
    width: 10vw;
}


/* FOOTER */

footer{
    color: rgb(255, 64, 0);
    background-color: rgb(249, 225, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 60vh;
}

.footer-lists{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    
}

.ul-footer{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
    font-size: 2rem;
}

.ul-footer-2{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
    font-size: 2rem;
}

#informacoes{
    font-size: 1.5rem;

}
footer a{
    text-decoration: none;
    color: inherit;
    border-bottom: solid;
    cursor: pointer;
}



